

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 80px;
    background-color:#2B3844;
    color: white;
}

h1{
font-size: 24px;
}

p{
font-size: 16px;
}

input{
    width: 480px;
    height: 56px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 40px;
    background-color: #2B3844;
    color: white;
}

section div{
    width: 264px;
    height: 250px;
    background-color: #2B3844;
    border-radius: 5px;
}

div img{
    width: 100%;
}

h3{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-top: 20px;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 50px;
}

main{
    background-color: #202C36;
    width: 100%;
    height: 850px;
}

@media(max-width:650px){
     header h1{
        font-size: 18px;
        
     }
     
    header p{
        font-size: 12px;
    }

     input{
        width: 610px;
        height: 80px;
        margin-left: 10px;
     }

     main{
        height: 1500px;
     }
}


@media(max-width:450px){
    header h1{
       font-size: 12px;
    }

    header p{
        font-size: 8px;
    }

    input{
        width: 400px;
        height: 45px;
    }

    main{
        height: 2600px;
    }
}







































































































































































